
<div class="jumbotron">
    <h1 class="display-4">Greetings, {{user.username}} !</h1>
    <h1>{{bmiGoal}} </h1>
    <h1>{{cigUseGoal}} </h1>
    <h1>{{alcConsGoal}} </h1>

    <p class="lead">Here are your stats and some recommended goals: </p>
  
    <div class="card">


      <div class="row">

        <div class="col-sm-6">

            <div class="card-body">
                <h5 class="card-title">Calculated BMI:  {{BMI.toFixed(2)}}</h5>
              <p class="card-text">{{bmiString}}</p>
            </div>

        </div>

        <div class="col-sm-6">

            <div class="card-body">

            <div *ngIf="underweight">

                <div class="form-check">
                    <label class="form-check-label"> Goal: Gain 0.25 KG by next week.
                        <input type="checkbox"[(ngModel)]="bmiPlus025"/> 
                    </label>
                </div>


                <div class="form-check">
                    <label class="form-check-label"> Goal: Gain 0.5 KG by next week.
                        <input type="checkbox"[(ngModel)]="bmiPlus05"/> 
                    </label>
                </div>

            </div>
            
            <div *ngIf="normalweight">

                <div class="form-check">
                    <label class="form-check-label"> Goal: Keep your weight. 
                        <input type="checkbox"[(ngModel)]="bmiKeep"/> 
                    </label>
                </div>


            </div>

            <div *ngIf="overweight || obese">

                <div class="form-check">
                    <label class="form-check-label"> Goal: Lose 0.25 KG by next week.
                        <input type="checkbox"[(ngModel)]="bmiMinus025"/> 
                    </label>
                </div>


                <div class="form-check">
                    <label class="form-check-label"> Goal: Lose 0.5 KG by next week.
                        <input type="checkbox"[(ngModel)]="bmiMinus05"/> 
                    </label>
                </div>


            </div>


        
            </div>

        </div>
        

      </div>

      <div class="row">

          <div class="col-sm-6">
  
              <div class="card-body">
                  <h5 class="card-title">Alchol consumption: {{alcCons}}</h5>
                <p class="card-text">{{alcConsString}}</p>
              </div>
  
          </div>
  
          <div class="col-sm-6">
  
              <div class="card-body">

                  <div *ngIf="normalDrinker">

                      <div class="form-check">
                          <label class="form-check-label"> Goal: Do not drink alcohol next week.
                              <input type="checkbox"[(ngModel)]="alcConsKeep0"/> 
                          </label>
                      </div>
      
      
                      <div class="form-check">
                          <label class="form-check-label"> Goal: Do not drink over the limit next week.
                              <input type="checkbox"[(ngModel)]="alcConsKeepUnder14"/> 
                          </label>
                      </div>
      
      
                  </div>


                  <div *ngIf="heavyDrinker">

                      <div class="form-check">
                          <label class="form-check-label"> Goal: Reduce your alcohol intake by 5 % next week.
                              <input type="checkbox"[(ngModel)]="alcConsReduce5"/> 
                          </label>
                      </div>
      
      
                      <div class="form-check">
                          <label class="form-check-label"> Goal: Reduce your alcohol intake by 10 % next week.
                              <input type="checkbox"[(ngModel)]="alcConsReduce10"/> 
                          </label>
                      </div>
      
      
                  </div>


              </div>
  
          </div>
          
  
        </div>

        <div class="row">

            <div class="col-sm-6">
    
                <div class="card-body">
                    <h5 class="card-title">Cigarette use: {{cigUse}} </h5>
                  <p class="card-text">{{cigUseString}}</p>
                </div>
    
            </div>
    
            <div class="col-sm-6">
    
                <div class="card-body">

                    <div *ngIf="nonSmoker">

                        <div class="form-check">
                            <label class="form-check-label"> Goal: Do not smoke next week.
                                <input type="checkbox"[(ngModel)]="cigUseKeep0"/> 
                            </label>
                        </div>

                    </div>

                    <div *ngIf="smoker">

                        <div class="form-check">
                            <label class="form-check-label"> Goal: Reduce the amount of cigarettes you smoke by 5 % next week.
                                <input type="checkbox"[(ngModel)]="cigUseReduce5"/> 
                            </label>
                        </div>
        
        
                        <div class="form-check">
                            <label class="form-check-label"> Goal: Reduce the amount of cigarettes you smoke by 10 % next week.
                                <input type="checkbox"[(ngModel)]="cigUseReduce10"/> 
                            </label>
                        </div>
        
        
                    </div>

                  
                </div>
    
            </div>

            <div class="col-sm-11"></div>
            <div class="col-sm-1">
               <button (click)="setGoals()" class="btn">Submit</button>
            
            </div>
            
    
        </div>
    </div>
  </div>
