<div class="container-fluid">
  <div class ="row">
    <div class="col-sm-12">
      <h1>Sign up</h1>
    </div>
  </div>
    
    <form  oninput='passConf.setCustomValidity(passConf.value != pass.value ? "Passwords do not match." : "")'>

      <div class="row">
        <div class="col-sm-6">
          
          <div class="form-group">
              <label for="username">Username: </label>
              <input type="text" class="form-control" id="username" required>
          </div>
          <div class="form-group">
              <label for="password">Password: </label>
              <input type="password" class="form-control" id="password" required name="pass">
          </div>

          <div class="form-group">
              <label for="confirm_password">Confirm Password: </label>
              <input type="password" class="form-control" id="confirm_password" required name="passConf">
          </div>

          <div class="form-group">
              <label for="ageSelect">Select Age group: </label>
              <select class="form-control" id="ageSelect" default="" required>
                <option value="" selected disabled>Please select</option>
                <option> &lt; 15</option>
                <option> > 15</option>
              </select>
          </div>

          <div class="form-group">
              <label for="sexSelect">Select Sex: </label>
              <select class="form-control" id="sexSelect" default="" required>
                <option value="" selected disabled>Please select</option>
                <option> Male </option>
                <option> Female </option>
              </select>
          </div>


        </div>
        
        <div class="col-sm-6">

            <div class="form-group">
                <label for="weight"> Weight (Kilograms): </label>
                <input type="number" step="0.01" min="1.0" class="form-control" id="weight" required>
            </div>

            <div class="form-group">
                <label for="height"> Height (Centimeters): </label>
                <input type="number" min="1" class="form-control" id="height" required>
            </div>

            <div class="form-group">
                <label for="alcohol"> Alcohol consumption (Units / Week) </label>
                <input type="number" min="0" class="form-control" id="alcohol" required>
            </div>

            <div class="form-group">
                <label for="cigarettes"> Cigarette use (Cigarettes / Week) </label>
                <input type="number" min="0" class="form-control" id="cigarettes" required>
            </div>

            <button type="submit" class="btn">Submit</button>
        </div>


      </div>
    
    </form>


  </div> 