
<div class="row">
  <div class="col-sm-5">
      <div class="wrapper" style="display: inline-block; margin-left:15vh; margin-top:25vh;">

          <img src="../../assets/couch-potato.png" class="img-fluid" alt="Responsive image">

      </div>
  </div>

  <div class="col-sm-6">
      <div class="wrapper" style="display: inline-block; margin-left:5vh; margin-top:25vh;">

          <div class="card" >
              <div class="card-body" style="height:25vh">
                <h3 class="card-title">GitFit</h3>
                <h6 class="card-subtitle mb-1 text-muted">Health and habit tracker</h6>

                <p>To use this site you don't have to be a fitness guru.
                 It was inspiried by the idea of promoting health and fitness to sedentary computing science students,
               and what a better way than to track your progress online and to make it competetive, so friends can battle for the most achieved goals.  </p>


                <a href="register" class="card-link">Sign up</a>
                <a href="login" class="card-link">Sign in</a>
              </div>
            </div>

       


      </div>

  </div>
</div>