<form>

    <div class="row">
      
      <div class="col-sm-12">

          <div class="form-group">
              <label for="weight"> Weight (Kilograms): </label>
              <input type="number" [(ngModel)]="weight"  step="0.01" min="1.0" class="form-control" id="weight" required name="weight">
          </div>


          <div class="form-group">
              <label for="alcohol"> Alcohol consumption (Units / Week) </label>
              <input type="number"  [(ngModel)]="alcohol_unit" min="0"  class="form-control" id="alcohol"  name="alcoholCons">
          </div>

          <div class="form-group">
              <label for="cigarettes"> Cigarette use (Cigarettes / Week) </label>
              <input type="number" min="0"  [(ngModel)]="cigarette_use" class="form-control" id="cigarettes"  name="cigCons">
          </div>
          <div class="col-sm-12"></div>
          <div class="row">
              <div class="col-sm-9"></div>
                <button type="submit" (click)="onSubmit()" class="btn">Submit</button>

          </div>
        
      </div>


    </div>
  
  </form>