<mat-toolbar color="primary">
  <mat-toolbar-row>
    
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" >
        <button [routerLink]="'/home'" mat-menu-item>
          <mat-icon>person</mat-icon>
          <span  >My profile</span>
        </button>
        <button [routerLink]="'/group'" mat-menu-item>
          <mat-icon>group</mat-icon>
          <span>My groups</span>
        </button>
        <button [routerLink]="'/'" mat-menu-item>
          <mat-icon>stars</mat-icon>
          <span>About</span>
        </button>
      </mat-menu>
      
    <h1>GitFit</h1>
    <span class="menu-spacer"></span>
    <div>
      <a mat-button *ngIf = "shouldShowNavbar"> Update My Goals </a>
      <a mat-button *ngIf = "shouldShowNavbar"> Create a Group</a>


      <a mat-button  *ngIf = "shouldShowNavbar"> Search Groups</a>
      <a mat-button [routerLink]="'/signin'" *ngIf = "!shouldShowNavbar"  > Sign in</a>
      <a mat-button  [routerLink]="'/register'"*ngIf = "!shouldShowNavbar"> Sign up</a>



    </div>
    <a mat-button (click)="logout()" [routerLink]="'/'" *ngIf = "shouldShowNavbar"> Logout</a>


    
  </mat-toolbar-row>